.dark-medium-contrast {
  --md-sys-color-primary: rgb(207 220 255);
  --md-sys-color-surface-tint: rgb(173 198 255);
  --md-sys-color-on-primary: rgb(0 36 84);
  --md-sys-color-primary-container: rgb(119 144 199);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(213 220 243);
  --md-sys-color-on-secondary: rgb(30 38 54);
  --md-sys-color-secondary-container: rgb(137 145 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(207 220 255);
  --md-sys-color-on-tertiary: rgb(1 36 85);
  --md-sys-color-tertiary-container: rgb(119 144 199);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(226 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 79);
  --md-sys-color-on-surface-variant: rgb(218 220 230);
  --md-sys-color-outline: rgb(176 177 187);
  --md-sys-color-outline-variant: rgb(142 144 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(44 71 121);
  --md-sys-color-primary-fixed: rgb(216 226 255);
  --md-sys-color-on-primary-fixed: rgb(0 16 45);
  --md-sys-color-primary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-primary-fixed-variant: rgb(24 53 102);
  --md-sys-color-secondary-fixed: rgb(219 226 249);
  --md-sys-color-on-secondary-fixed: rgb(9 17 33);
  --md-sys-color-secondary-fixed-dim: rgb(191 198 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(46 54 71);
  --md-sys-color-tertiary-fixed: rgb(216 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 16 46);
  --md-sys-color-tertiary-fixed-dim: rgb(174 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(24 53 102);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(67 68 74);
  --md-sys-color-surface-container-lowest: rgb(6 7 12);
  --md-sys-color-surface-container-low: rgb(28 29 34);
  --md-sys-color-surface-container: rgb(38 40 45);
  --md-sys-color-surface-container-high: rgb(49 50 56);
  --md-sys-color-surface-container-highest: rgb(60 61 67);
}
