.dark-high-contrast {
	--md-sys-color-primary: rgb(236 239 255);
	--md-sys-color-surface-tint: rgb(173 198 255);
	--md-sys-color-on-primary: rgb(0 0 0);
	--md-sys-color-primary-container: rgb(169 194 252);
	--md-sys-color-on-primary-container: rgb(0 10 34);
	--md-sys-color-secondary: rgb(236 239 255);
	--md-sys-color-on-secondary: rgb(0 0 0);
	--md-sys-color-secondary-container: rgb(187 194 216);
	--md-sys-color-on-secondary-container: rgb(4 11 27);
	--md-sys-color-tertiary: rgb(236 239 255);
	--md-sys-color-on-tertiary: rgb(0 0 0);
	--md-sys-color-tertiary-container: rgb(169 194 252);
	--md-sys-color-on-tertiary-container: rgb(0 10 34);
	--md-sys-color-error: rgb(255 236 233);
	--md-sys-color-on-error: rgb(0 0 0);
	--md-sys-color-error-container: rgb(255 174 164);
	--md-sys-color-on-error-container: rgb(34 0 1);
	--md-sys-color-background: rgb(17 19 24);
	--md-sys-color-on-background: rgb(226 226 233);
	--md-sys-color-surface: rgb(17 19 24);
	--md-sys-color-on-surface: rgb(255 255 255);
	--md-sys-color-surface-variant: rgb(68 71 79);
	--md-sys-color-on-surface-variant: rgb(255 255 255);
	--md-sys-color-outline: rgb(238 239 249);
	--md-sys-color-outline-variant: rgb(193 194 204);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(226 226 233);
	--md-sys-color-inverse-on-surface: rgb(0 0 0);
	--md-sys-color-inverse-primary: rgb(44 71 121);
	--md-sys-color-primary-fixed: rgb(216 226 255);
	--md-sys-color-on-primary-fixed: rgb(0 0 0);
	--md-sys-color-primary-fixed-dim: rgb(173 198 255);
	--md-sys-color-on-primary-fixed-variant: rgb(0 16 45);
	--md-sys-color-secondary-fixed: rgb(219 226 249);
	--md-sys-color-on-secondary-fixed: rgb(0 0 0);
	--md-sys-color-secondary-fixed-dim: rgb(191 198 220);
	--md-sys-color-on-secondary-fixed-variant: rgb(9 17 33);
	--md-sys-color-tertiary-fixed: rgb(216 226 255);
	--md-sys-color-on-tertiary-fixed: rgb(0 0 0);
	--md-sys-color-tertiary-fixed-dim: rgb(174 198 255);
	--md-sys-color-on-tertiary-fixed-variant: rgb(0 16 46);
	--md-sys-color-surface-dim: rgb(17 19 24);
	--md-sys-color-surface-bright: rgb(78 80 86);
	--md-sys-color-surface-container-lowest: rgb(0 0 0);
	--md-sys-color-surface-container-low: rgb(30 31 37);
	--md-sys-color-surface-container: rgb(47 48 54);
	--md-sys-color-surface-container-high: rgb(58 59 65);
	--md-sys-color-surface-container-highest: rgb(69 71 76);
}
