.dark {
	--md-sys-color-primary: rgb(173 198 255);
	--md-sys-color-surface-tint: rgb(173 198 255);
	--md-sys-color-on-primary: rgb(16 47 96);
	--md-sys-color-primary-container: rgb(43 70 120);
	--md-sys-color-on-primary-container: rgb(216 226 255);
	--md-sys-color-secondary: rgb(191 198 220);
	--md-sys-color-on-secondary: rgb(41 48 65);
	--md-sys-color-secondary-container: rgb(63 71 89);
	--md-sys-color-on-secondary-container: rgb(219 226 249);
	--md-sys-color-tertiary: rgb(174 198 255);
	--md-sys-color-on-tertiary: rgb(17 47 96);
	--md-sys-color-tertiary-container: rgb(43 70 120);
	--md-sys-color-on-tertiary-container: rgb(216 226 255);
	--md-sys-color-error: rgb(255 180 171);
	--md-sys-color-on-error: rgb(105 0 5);
	--md-sys-color-error-container: rgb(147 0 10);
	--md-sys-color-on-error-container: rgb(255 218 214);
	--md-sys-color-background: rgb(17 19 24);
	--md-sys-color-on-background: rgb(226 226 233);
	--md-sys-color-surface: rgb(17 19 24);
	--md-sys-color-on-surface: rgb(226 226 233);
	--md-sys-color-surface-variant: rgb(68 71 79);
	--md-sys-color-on-surface-variant: rgb(196 198 208);
	--md-sys-color-outline: rgb(142 144 153);
	--md-sys-color-outline-variant: rgb(68 71 79);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(226 226 233);
	--md-sys-color-inverse-on-surface: rgb(47 48 54);
	--md-sys-color-inverse-primary: rgb(68 94 145);
	--md-sys-color-primary-fixed: rgb(216 226 255);
	--md-sys-color-on-primary-fixed: rgb(0 26 65);
	--md-sys-color-primary-fixed-dim: rgb(173 198 255);
	--md-sys-color-on-primary-fixed-variant: rgb(43 70 120);
	--md-sys-color-secondary-fixed: rgb(219 226 249);
	--md-sys-color-on-secondary-fixed: rgb(20 27 44);
	--md-sys-color-secondary-fixed-dim: rgb(191 198 220);
	--md-sys-color-on-secondary-fixed-variant: rgb(63 71 89);
	--md-sys-color-tertiary-fixed: rgb(216 226 255);
	--md-sys-color-on-tertiary-fixed: rgb(0 26 66);
	--md-sys-color-tertiary-fixed-dim: rgb(174 198 255);
	--md-sys-color-on-tertiary-fixed-variant: rgb(43 70 120);
	--md-sys-color-surface-dim: rgb(17 19 24);
	--md-sys-color-surface-bright: rgb(55 57 62);
	--md-sys-color-surface-container-lowest: rgb(12 14 19);
	--md-sys-color-surface-container-low: rgb(26 27 32);
	--md-sys-color-surface-container: rgb(30 31 37);
	--md-sys-color-surface-container-high: rgb(40 42 47);
	--md-sys-color-surface-container-highest: rgb(51 53 58);
}
