.light {
	--md-sys-color-primary: rgb(68 94 145);
	--md-sys-color-surface-tint: rgb(68 94 145);
	--md-sys-color-on-primary: rgb(255 255 255);
	--md-sys-color-primary-container: rgb(216 226 255);
	--md-sys-color-on-primary-container: rgb(43 70 120);
	--md-sys-color-secondary: rgb(87 94 113);
	--md-sys-color-on-secondary: rgb(255 255 255);
	--md-sys-color-secondary-container: rgb(219 226 249);
	--md-sys-color-on-secondary-container: rgb(63 71 89);
	--md-sys-color-tertiary: rgb(68 94 145);
	--md-sys-color-on-tertiary: rgb(255 255 255);
	--md-sys-color-tertiary-container: rgb(216 226 255);
	--md-sys-color-on-tertiary-container: rgb(43 70 120);
	--md-sys-color-error: rgb(186 26 26);
	--md-sys-color-on-error: rgb(255 255 255);
	--md-sys-color-error-container: rgb(255 218 214);
	--md-sys-color-on-error-container: rgb(147 0 10);
	--md-sys-color-background: rgb(249 249 255);
	--md-sys-color-on-background: rgb(26 27 32);
	--md-sys-color-surface: rgb(249 249 255);
	--md-sys-color-on-surface: rgb(26 27 32);
	--md-sys-color-surface-variant: rgb(225 226 236);
	--md-sys-color-on-surface-variant: rgb(68 71 79);
	--md-sys-color-outline: rgb(116 119 127);
	--md-sys-color-outline-variant: rgb(196 198 208);
	--md-sys-color-shadow: rgb(0 0 0);
	--md-sys-color-scrim: rgb(0 0 0);
	--md-sys-color-inverse-surface: rgb(47 48 54);
	--md-sys-color-inverse-on-surface: rgb(240 240 247);
	--md-sys-color-inverse-primary: rgb(173 198 255);
	--md-sys-color-primary-fixed: rgb(216 226 255);
	--md-sys-color-on-primary-fixed: rgb(0 26 65);
	--md-sys-color-primary-fixed-dim: rgb(173 198 255);
	--md-sys-color-on-primary-fixed-variant: rgb(43 70 120);
	--md-sys-color-secondary-fixed: rgb(219 226 249);
	--md-sys-color-on-secondary-fixed: rgb(20 27 44);
	--md-sys-color-secondary-fixed-dim: rgb(191 198 220);
	--md-sys-color-on-secondary-fixed-variant: rgb(63 71 89);
	--md-sys-color-tertiary-fixed: rgb(216 226 255);
	--md-sys-color-on-tertiary-fixed: rgb(0 26 66);
	--md-sys-color-tertiary-fixed-dim: rgb(174 198 255);
	--md-sys-color-on-tertiary-fixed-variant: rgb(43 70 120);
	--md-sys-color-surface-dim: rgb(217 217 224);
	--md-sys-color-surface-bright: rgb(249 249 255);
	--md-sys-color-surface-container-lowest: rgb(255 255 255);
	--md-sys-color-surface-container-low: rgb(243 243 250);
	--md-sys-color-surface-container: rgb(237 237 244);
	--md-sys-color-surface-container-high: rgb(232 231 238);
	--md-sys-color-surface-container-highest: rgb(226 226 233);
}
